bin/
obj/
artifacts/
publish/
TestResults/
.vs/
.idea/
*.user
*.suo
*.DotSettings.user
packages/
*.nupkg
*.snupkg
*.msix
*.msixbundle
*.appinstaller
*.pfx
settings.json
logs/
temp/
Thumbs.db
Desktop.ini
.DS_Store
